html, body{
    margin: auto;
    background-color: #F7F5DF;
    font-family: sans-serif;
    border: 2px solid #AE936F;
    font-size: 125%;
}

h1{
    text-align: center;
    color: #AE936F;
    font-weight: bold;
}

h2{
    text-align: center;
    color: #AE936F;
    font-weight: bold;
}

pre{
    text-align: center;
    color: #AE936F;
    margin: 0px;
}

hr{
    border-top: 1px solid #AE936F; 
    padding: 0px; 
    padding-left: 0px;  
}

div{
    margin: 20px;
}

iframe {
    border: 2px solid #AE936F;
}

img {
    max-width: 100%;
    height: auto;
    height: 300px;
    margin: 5px;
}

a{
    color: #AE936F;
    margin-top: 0px;
}

.center-alligned {
    text-align: center;
}

.projects {
    display: flex;
    justify-content: space-evenly;
}

.grid-container {
    display: grid;
    grid-template-columns: 50% 50%;
}


.tg {
    border-collapse: collapse;
    width: 50%;
}

.tg th, .tg td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

.tg th {
    font-weight: bold;
}

.tg-baqh {
    text-align: center;
}