html, body{
    margin: auto;
    background-color: #F7F5DF;
    font-family: sans-serif;
    border: 2px solid #AE936F;
    padding: 30px;
    font-size: 125%;
}

h1{
    text-align: center;
    color: #AE936F;
    font-weight: bold;
}

h2{
    text-align: center;
    color: #AE936F;
    font-weight: bold;
}

pre{
    text-align: center;
    color: #AE936F;
    margin: 0px;
}

hr{
    border-top: 1px solid #AE936F; 
    padding: 0px; 
    padding-left: 0px;  
}

div{
    margin: 20px;
}

iframe {
    border: 2px solid #AE936F;
}

img {
    max-width: 100%;
    height: auto;
    height: 300px;
    margin: 5px;
}

a{
    color: #AE936F;
    margin-top: 0px;
}

table {
    background-color: rgb(0, 0, 0, 0.05);
}

.center-alligned {
    text-align: center;
}

.grid-container {
    display: grid;
    grid-template-columns: 50% 50%;
}

.tg {
    border-collapse:collapse;
    border-spacing:0;
}

.tg td{
    border-color:#AE936F;
    border-style:solid;
    border-width:1px;
    font-family:Arial, sans-serif;
    font-size:14px;
    overflow:hidden;
    padding:10px 5px;
    word-break:normal;
}

.tg th {
    border-color:#AE936F;
    border-style:solid;
    border-width:1px;
    font-family:Arial, sans-serif;
    font-size:14px; 
    font-weight:normal;
    overflow:hidden;
    padding:10px 5px;
    word-break:normal;
}

.tg .tg-baqh {
    text-align:center;
    vertical-align:top
}

.tg .tg-0lax {
    text-align:left;
    vertical-align:top
}